<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="{{ url_for('static', filename='assests/tab-icon.png' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/GFonts.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <script src="{{ url_for('static', filename='script/script.js')}}"></script>
</head>
<body>
</body>
</html>