* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* html {
  min-width: 375px;
  max-width: 1440px;
  margin: auto;
} */

body {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("../assests/background-leavs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutTitle{
  text-align: center;
}

.aboutBackground{
  padding: 100px;
  background-color: red;
  /* background-image: url("../assests/background-leavs.jpg"); */
}

.logo {
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInLeft;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;

}

.logo img {
  width: 90%;
  height: auto;
}


@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.header {
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInLeft;
  margin-top: 3rem;
  text-align: center;
}

.header h1 {
  font-size: 2em;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
}

.header h2 {
  font-size: 1.8em;
  font-weight: 200;
  color: hsl(0, 0%, 100%);

}

.header p {
  padding-top: 0.3rem;
  padding-bottom: 1.7rem;
  font-weight: bold;
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.7);
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.card {
  background-color: hsl(0, 0%, 98%, 98%);
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 5px;
  border-top: 5px solid red;
  width: 20rem;
  height: 28rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.card-upload {
  text-align: center;
  background-color: hsl(0, 0%, 98%, 98%);
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 5px;
  border-top: 5px solid rgb(79, 214, 79);
  width: 20rem;
  height: 28rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

h1 {
  font-size: 24px;
  color: #333;
  margin-top: 0;
}

h6 {
  color: rgb(145, 11, 11);
}

p {
  font-size: 16px;
  color: #555;
  font-weight: bold;
}

.card-upload img {
  width: 50px;
  height: 50px;
  margin: 20px auto;
  display: block;
}

.action-buttons {
  display: flex;
  margin-top: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.btn-both {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #1a852d;
  cursor: pointer;
  margin: 5px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  color: #fefefe;
  z-index: 10;
}

.upload-button,
.camera-button {
  color: #fefefe;

}

.upload-button:hover, .camera-button:hover {
  color: #27af49;
}

.btn-both::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #20ac47;
  z-index: -1;
  transition: 0.8s;
}

.upload-button::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.camera-button::before {
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.upload-button::before, .camera-button::before {
  height: 180%;
}

.upload-button:hover::before, .camera-button:hover::before {
  height: 0%;
}

#image-upload {
  display: none;
}

.card h2 {
  color: hsl(234, 12%, 34%);
}

.card p {
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: hsl(230, 3%, 40%);
  font-weight: 200;
  margin-top: 1rem;
}

.card ul {
  padding: 1rem;
  font-weight: 200;
}

.card-time ul::after {
  text-align: center;
  display: block;
  padding: 1rem 0rem;
}

.card-ai ul::after {
  text-align: center;
  display: block;
  padding: 0.6rem 0rem;
}

.card-time ul::after {
  content: url(../assests/icon-time.svg);
}

.card-ai ul::after {
  content: url(../assests/ai-algorithms.svg);
}

.card-time {
  border-color: hsl(210, 82%, 46%);
}

.card-ai {
  border-color: hsl(0, 69%, 65%);
}

.camera-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  text-align: center;
}

.camera-container {
  display: inline-block;
  margin: 10% auto;
  position: relative;
}

#camera-feed {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.capture-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.thumbnail-container {
  margin-top: 5px;
  display: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 7rem;
}

.thumbnail-container img {
  align-items: center;
  text-align: center;
  max-width: 70%;
  height: auto;
  margin: 5px;
}

.send-button {
  background-color: #4d86c0;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: none;
  margin-top: 10px;
}

.send-button:hover {
  background-color: #e7e7e7;
  color: #1a852d;
  border: 1px solid green;
}

.popup-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  justify-content: center;
  align-items: center;
}

.popup-content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 70%;
  max-height: 90%;
  overflow: auto;
}

.popup-content-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-info {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding-top: 10px;
}

.treatment-list {
  padding-top: 10px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.image {
  max-width: 400px;
  max-height: 400px;
}

img {
  width: 100%;
}

@media (max-width: 600px) {
  .popup-content {
    padding: 10px;
  }

  ol {
    padding-left: 10px;
  }
}

/* media here */

@media screen and (min-width: 992px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 0;
  }

  /* .card {
    height: 13rem;
  } */

  .card-time {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: -40px;
  }

  .card-ai {
    grid-column: 3/4;
    grid-row: 1/3;
    margin-top: -40px;
  }
}

@media (max-width: 768px) {
  .logo {
    position: static;
    text-align: center;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .logo {
    padding: 10px;
  }

  ol {
    padding-left: 10px;
  }
}